<div class="px-2 md:px-16 pt-6 pb-6 border-t h-20 flex justify-center items-center w-full bg-white">
  <a href="https://replit.com/@ErikoX" target="_blank" class="text-gray-500 underline">Made for you, by ErikoX</a>
</div>