<div class="px-2 md:px-16 pt-6 pb-6 border-b h-20 flex justify-between items-center fixed top-0 w-full bg-white">
  <div class="flex from-amber-500 to-pink-500 items-center p-4">
    <div class="bg-gradient-to-r text-xl text-white font-bold px-1">CPR</div>
    
    <div class="bg-gradient-to-r text-xl bg-clip-text text-transparent font-semibold px-1">Uptimer</div>
  </div>
  <a class="hidden lg:block text-gray-400" target="_blank" href="https://dictionary.cambridge.org/dictionary/english/cpr">CPR can keep people (and here repls) alive, it's a pun</a>
  <div class="flex">
    <a class="px-4 py-2" href="#start">
      Get Started
    </a>
    <a class="px-4 py-2" href="#rules">
      Rules
    </a>
  </div>
</div>