
<div class="px-2 md:px-16 pt-6 pb-6 border-b h-20 flex justify-between items-center fixed top-0 w-full bg-white">
  <a class="flex from-amber-500 to-pink-500 items-center p-4" href="/">
    <div class="bg-gradient-to-r text-xl text-white font-bold px-1">CPR</div>
    
    <div class="bg-gradient-to-r text-xl bg-clip-text text-transparent font-semibold px-1">Uptimer</div>
  </a>
  <a class="hidden lg:block" target="_blank" href="https://www.redcross.org/take-a-class/cpr/performing-cpr/cpr-steps">Click here if you actually need help performing CPR</a>
  <div class="flex">
    <a class="px-1 py-2" href="/#start">
      Get Started
    </a>
    <a class="px-1 py-2" href="/#rules">
      Rules
    </a>
  </div>
</div>
