<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CPR Uptimer</title>
  <link rel="stylesheet" href="dist.css">
  <style>
    html{scroll-behavior:smooth}
  </style>
</head>
<body>
  <%- include("./partials/header.ejs") %>
  <div class="flex justify-center items-center h-[90vh]">
    <div class="text-center">
      <p class="text-5xl md:text-6xl font-bold">404 not found</p>
      <a href="/" class="text-gray-500 underline text-2xl">Return to main page</a>
    </div>
  </div>
</body>
</html>