<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CPR Uptimer</title>
  <link rel="stylesheet" href="dist.css">
  <style>
    html{scroll-behavior:smooth}
  </style>
</head>
<body class="">
  <%- include("./partials/header.ejs") %>
  
  <div class="max-w-6xl mx-auto flex flex-col items-center" id="start">
    <div class="h-20 pt-6 pb-6"></div>
    <section class="w-full md:w-3/4 px-2 pt-24 md:pt-16">
      <!-- <span class="bg-gradient-to-r from-amber-500 to-pink-500 bg-clip-text text-transparent"></span> -->
      <h1 class="text-5xl md:text-7xl font-black text-center">The best <span class="bg-gradient-to-r from-amber-500 to-pink-500 bg-clip-text text-transparent">CPR</span> to keep your repls <span class="bg-gradient-to-r from-amber-500 to-pink-500 bg-clip-text text-transparent">alive</span></h1>
      <p class="mt-16 text-gray-500 text-xl text-center">Make your repls stay online, <strong class="text-black">24/7, for free</strong>. Without logging in.</p>
      <p class="text-gray-500 text-xl text-center">Always ready. Analytics. Troubleshooting. One click.</p>
      <div class="w-full flex flex-col justify-center items-center mt-12">
        <p class="text-xl">Enter your [user].[repl].repl.co url:</p>
        <div class="w-full lg:w-4/5 px-4 flex flex-col md:flex-row justify-center">
          <div class="w-full md:max-w-none flex align-center items-center shadow-2xl p-4 pl-6 rounded-full bg-white border border-gray-100">
            <input type="text" id="url" class="bg-transparent text-xl outline-none w-full md:w-3/4 rounded-full" value="" maxlength="80" placeholder="https://replname.username.repl.co">
            <button id="send" class="bg-black text-xl text-white transition duration-20 rounded-full ml-1 p-4 w-full md:w-1/4 hidden md:block active:scale-95">Keep alive</button>
          </div>
          <button id="send2" class="bg-black text-xl text-white transition duration-20 rounded-full p-4 w-full mt-4 md:w-1/4 block md:hidden active:scale-95">Keep alive</button>
        </div>
        
        
      </div>
      <div class="text-center p-4 mt-6">
        <p class="text-gray-400" id="out"></p>
      </div>
      <div class="w-full justify-center items-center font-black mt-8 text-3xl flex flex-col md:flex-row gap-2 md:gap-4">
        <div class="flex flex-row md:flex-col gap-2 items-center md:items-start">
          <p class="text-lg font-bold">We ping</p>
          <p><%= replsPinged %> Repls</p>
          
        </div>
        <p class="border-b-2 md:border-l-2 w-full md:w-2 md:border-b-0 h-2 md:h-20 border-gray-300"></p>
        <div class="flex flex-row md:flex-col gap-2 items-center md:items-start">
          
          <p><%= totalPinged %></p>
          <p class="text-lg font-bold">total pings</p>
        </div>
        <p class="border-b-2 md:border-l-2 w-full md:border-b-0 md:w-2 h-2 md:h-20 border-gray-300"></p>
        <div class="flex flex-row md:flex-col gap-2 items-center md:items-start">
          <p class="text-lg font-bold">Avg. ping time</p>
          <p>~5 min</p>
          
        </div>
      </div>
      

      <p class="text-gray-500 text-xl text-center mt-16">By using you agree that you accept <a href="/#rules" class="text-gray-600 underline">the rules</a></p>
    </section>
    <section class="w-full md:w-3/4 px-2 pt-24 flex flex-col" id="rules">
      <h2 class="text-4xl md:text-5xl font-black text-center mt-16">Before staying alive <span class="bg-gradient-to-r from-amber-500 to-pink-500 bg-clip-text text-transparent">24/7</span></h2>
      <div class="flex flex-col justify-center h-full px-4 text-xl mt-16 mb-16">
        <ul class="">
          <li class="mb-8">If you notice your repl not getting pinged anymore, please try submitting your repl again.</li>
          <li class="mb-8">Your repl must follow <a href="https://replit.com/site/terms" target="_blank" class="text-gray-600 underline">Replit.com's Terms of Service</a> (No cryptominers, proxies, ...)</li>
          <li class="mb-8">Repls that break the rules may be blacklisted from the service and reported to replit moderators.</li>
          <li class="mb-8">Bugs in this service should be reported in the comments <a href="/__repl" target="_blank" class="text-gray-600 underline">here</a></li>

          <li class="mb-8 font-semibold">Beware - Repl and Analytics data is public and can be <a target="_blank" href="/api/getdata" class="text-gray-600 underline">viewed here</a></li>
        </ul>
        
      </div>
      
    </section>
  </div>
  <%- include("./partials/footer.ejs") %>
  <script>
    document.getElementById("send").addEventListener("click", async function() {
      doData()
    })
    // dumb but it works hehe
    document.getElementById("send2").addEventListener("click", function() {
      doData()
    })

    async function doData() {
      fetch("/api/repl", {
        method:"POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          action: "add",
          url: (document.getElementById("url").value == "" ? "nourl" : document.getElementById("url").value)
        })
      }).then(res=>res.json()).then(res=>{
        if (res.success) {
          document.getElementById("out").innerHTML = "Success! You will be redirected shortly!"
        } else {
          document.getElementById("out").innerHTML = "Error: "+res.message
        }
      })
    }
  </script>
</body>
</html>